@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "mapbox-gl/dist/mapbox-gl.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slick-arrow {
    @apply z-10;
  }
  .slick-arrow::before {
    @apply text-gray-300 text-3xl;
  }

  .slick-prev {
    left: 5px;
  }

  .slick-next {
    right: 15px;
  }

  .star-rating input[type="radio"]:checked ~ label {
    @apply text-yellow-400;
  }
  .star-rating input[type="radio"] {
    display: none;
  }
  .star-rating label {
    @apply text-gray-400;
  }
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    @apply text-yellow-200;
  }

  .star-rating {
    display: flex;
    justify-content: flex-end;
    transform: scaleX(-1);
  }
}
